/
  #{__FILE__}
%select{attributes}
  %option{:value => 'false', :selected => self.value == false}
    = RubyApp::Elements::Mobile::Inputs::ToggleInput.translate._off
  %option{:value => 'true', :selected => self.value == true}
    = RubyApp::Elements::Mobile::Inputs::ToggleInput.translate._on
