/
  #{__FILE__}
%select{self.attributes}
  %option{'value' => 'false', 'selected' => self.value == false}
    = yield(:off) || RubyApp::Elements::Mobile::Inputs::ToggleInput.translate._off
  %option{'value' => 'true', 'selected' => self.value == true}
    = yield(:on) || RubyApp::Elements::Mobile::Inputs::ToggleInput.translate._on
