/ 
  #{__FILE__}
%div.breadcrumbs{attributes}
  - count = RubyApp::Session.pages.length
  - RubyApp::Session.pages.each_with_index do |page, index|
    - if index < count - 1
      - if index > 0
        %span.divider
          &raquo;
      %a.breadcrumb{:href => '', :page_id => page.element_id}
        = page.translate.title
    - else
      - if index > 0
        %span.divider
          &raquo;
      %span.current
        = page.translate.title
