- self.content_for(:html, :body) do
  /
    #{__FILE__}
  %div.welcome
    :markdown
      ## Welcome!
      This is the default page for your application.  This content can be found in the file `lib/_APPLICATION_DOWNCODE_/elements/pages/default_page.html.haml`.
