- self.rendered?(__FILE__) do
  :sass
    /* #{__FILE__}
    @import '#{File.join(File.dirname(__FILE__), %w[.. colors.sass])}'
    ul.select
      background-color: $select_background
      border-radius: 5px
      color: $select_foreground
      list-style-type: none
      margin: 0px
      padding-left: 0px
      > li
        border-bottom: 2px solid $page_background
      > li.item
        > a.item
          color: inherit
          display: block
          font-weight: inherit
          width: 100%
      > li:last-child
        border-bottom: inherit
      > li.selected
        > a.selected
          background-image: url('/ruby_app/resources/themes/mobile/lists/select.png')
          background-position: right center
          background-repeat: no-repeat
= yield
