.bundle
.DS_Store
.idea
.sass-cache
coverage
process
sandbox
lib/ruby_app/elements/mobile/documents/authentication/open_id/associations
lib/ruby_app/elements/mobile/documents/authentication/open_id/nonces
lib/ruby_app/elements/mobile/documents/authentication/open_id/temp
*.gem
*.log
*.pid
Gemfile.lock
ruby_app.sublime-project
ruby_app.sublime-workspace
