.bundle
.cache
.DS_Store
.idea
.sass-cache
lib/ruby_app/elements/pages/authentication/open_id/associations
lib/ruby_app/elements/pages/authentication/open_id/nonces
lib/ruby_app/elements/pages/authentication/open_id/temp
log
sandbox
*.gem
*.log
*.pid
