= RubyApp::Elements::Mobile::Navigation::BackButton.render(:js)
= RubyApp::Elements::Mobile::Navigation::NavigationLink.render(:js)
= RubyApp::Elements::Mobile::Pages::Information::SessionsPage.render(:js)
-#= RubyApp::Elements::Mobile::Pages::Information::TestsPage.render(:js)
= yield
