- require 'pp'
- self.content_for(:html, :page) do
  /
    #{__FILE__}
  %div{'data-role' => 'header'}
    = @back_button.render(:html)
    %h1
      Configuration
  %div{'data-role' => 'content'}
    = @configuration_hash.render(:html)
