= RubyApp::Elements::Mobile::Navigation::BackButton.render(:js)
= RubyApp::Elements::Mobile::Pages::Information::DocumentsList.render(:js)
= RubyApp::Elements::Mobile::Pages::Information::DocumentPage.render(:js)
= yield
