= RubyApp::Elements::Mobile::Navigation::BackButton.render(:css)
= RubyApp::Elements::Mobile::Pages::Information::DocumentsList.render(:css)
= RubyApp::Elements::Mobile::Pages::Information::DocumentPage.render(:css)
= yield
