= RubyApp::Elements::Mobile::Navigation::BackButton.render(:js)
= RubyApp::Elements::Mobile::Navigation::NavigationLink.render(:js)
= RubyApp::Elements::Mobile::Pages::Information::PagesPage.render(:js)
= yield
