- self.content_for(:html, :page) do
  /
    #{__FILE__}
  %div{'data-role' => 'header'}
    = @back_button.render(:html)
    %h1
      Pages
  %div{'data-role' => 'content'}
    = @pages_list.render(:html)
