= RubyApp::Elements::Mobile::Dialogs::AcknowledgementDialog.render(:js)
= RubyApp::Elements::Mobile::Navigation::BackButton.render(:js)
= RubyApp::Elements::Mobile::Pages::Information::ScriptsList.render(:js)
= yield
