= RubyApp::Elements::Mobile::Navigation::BackButton.render(:js)
= RubyApp::Elements::Mobile::Pages::Information::SessionsList.render(:js)
= RubyApp::Elements::Mobile::Pages::Information::SessionPage.render(:js)
= yield
