- self.rendered?(__FILE__) do
  :plain
    // #{__FILE__}
    $(document).ready(function() {
      $("span.link a.page").click(function(event) {
        event.preventDefault();
        RubyApp.sendEvent({_class:'RubyApp::Elements::Navigation::PageLink::NavigatedEvent', source_id:$(this).parent().attr('id'), page:$(this).attr('page')});
      });
    });
= yield
