/ 
  #{__FILE__}
%span.link{attributes}
  - if self.current_page?
    %span.current{:href => '', :page => self.page}
      = self.content_for(self.page) || self.page.translate.title
  - else
    %a.page{:href => '', :page => self.page}
      = self.content_for(self.page) || self.page.translate.title
