:sass
  /* #{__FILE__}
  div.overlay
    background-color: rgba(0,0,0,0.25)
    display: none
    height: 100%
    left: 0px
    position: absolute
    top: 0px
    width: 100%
    z-index: 9
= yield
