:plain
  // #{__FILE__}
  $(document).ready( function() {
    $(document).on('change', 'input', function(event) {
      event.preventDefault();
      if ($(this).attr('id'))
        RubyApp.sendEvent({_class:'RubyApp::Elements::Mobile::Input::ChangedEvent', source:$(this).attr('id'), value:$(this).val()});
    });
  });
= yield
