:plain
  // #{__FILE__}
  $(document).ready( function() {
    $(document).on('tap', 'ul.list > li.item a.item', function(event) {
      event.preventDefault();
      RubyApp.queueEvent({_class:'RubyApp::Elements::Mobile::List::ItemClickedEvent', source:$(this).parents('ul.list').attr('id'), index:$(this).attr('data-index')});
    });
    $(document).on('tap', 'ul.list > li.item a.link', function(event) {
      event.preventDefault();
      RubyApp.queueEvent({_class:'RubyApp::Elements::Mobile::List::LinkClickedEvent', source:$(this).parents('ul.list').attr('id'), index:$(this).attr('data-index')});
    });
  });
= yield
