:plain
  // #{__FILE__}
  $(document).ready( function() {
    $(document).on('click', 'li.item a.item', function(event) {
      event.preventDefault();
      RubyApp.sendEvent({_class:'RubyApp::Elements::Mobile::List::ItemClickedEvent', source:$(this).parents('ul.list').attr('id'), item:$(this).parents('li.item').attr('id')});
    });
  });
= yield
