/
  #{__FILE__}
%li.split-item{self.attributes}
  - unless self.attributes['disabled']
    %a.item{:href => '#'}
      = yield(:item) || self.item
    %a.link{:href => '#'}
      = yield(:link) || self.item
  - else
    %span.item.ui-disabled
      = yield(:item) || self.item
