/
  #{__FILE__}
%li.item{self.attributes}
  - unless self.attributes['disabled']
    %a.item{:href => '#'}
      = yield(:item) || self.item
  - else
    %span.item.ui-disabled
      = yield(:item) || self.item
