:sass
  /* #{__FILE__}
  ul.list
    li.item
      a.link
        span.ui-btn-inner
          span.ui-btn.ui-btn-icon-notext.ui-btn-corner-all.ui-shadow
            margin-left: 14px
            margin-top: -14px
= yield
