:plain
  // #{__FILE__}
  $(document).ready( function() {
    $(document).on('pageshow', 'div[data-role="page"]', function(event) {
      RubyApp.sendEvent({_class:'RubyApp::Elements::Mobile::Page::ShownEvent', source:$(this).attr('id')});
    });
    $(document).on('pagehide', 'div[data-role="page"]', function(event) {
      RubyApp.sendEvent({_class:'RubyApp::Elements::Mobile::Page::HiddenEvent', source:$(this).attr('id')});
    });
    $(document).on('swipeleft', 'div[data-role="page"]', function(event) {
      RubyApp.sendEvent({_class:'RubyApp::Elements::Mobile::Page::SwipedLeftEvent', source:$(this).attr('id')});
    });
    $(document).on('swiperight', 'div[data-role="page"]', function(event) {
      RubyApp.sendEvent({_class:'RubyApp::Elements::Mobile::Page::SwipedRightEvent', source:$(this).attr('id')});
    });
  });
= yield
