:sass
  /* #{__FILE__}
  div.month
    table
      width: 100%
      thead
        td
          font-weight: bold
          padding-bottom: 10px
          padding-left: 0px
          padding-right: 0px
          padding-top: 10px
          text-align: center
          width: 14%
      tbody
        td
          a.date, span.date, span.value
            margin-bottom: 2px
            margin-left: 2px
            margin-right: 2px
            margin-top: 2px
            padding-bottom: 5px
            padding-left: 0px
            padding-right: 0px
            padding-top: 6px
= yield
