- self.content_for(:html, :page) do
  /
    #{__FILE__}
  %div{'data-role' => 'header'}
    = @back_button.render(:html)
    %h1
      Language
  %div{'data-role' => 'content'}
    = RubyApp::Elements::Mobile::Default::Features::LanguagePage.translate.content
    %br
    %br
    %code
      Date.today&nbsp;=&nbsp;
      = RubyApp::Elements::Mobile::Default::Features::LanguagePage.localize(Date.today, :human)
