= RubyApp::Elements::Mobile::Default::Features::Calendars::MonthPage.render(:js)
= RubyApp::Elements::Mobile::Navigation::PageButton.render(:js)
= RubyApp::Elements::Mobile::Navigation::BackButton.render(:js)
= yield
