= RubyApp::Elements::Mobile::Default::Features::Calendars::MonthPage.render(:css)
= RubyApp::Elements::Mobile::Navigation::PageButton.render(:css)
= RubyApp::Elements::Mobile::Navigation::BackButton.render(:css)
= yield
