= RubyApp::Elements::Mobile::Dialogs::AcknowledgementDialog.render(:js)
= RubyApp::Elements::Mobile::Calendars::Month.render(:js)
= RubyApp::Elements::Mobile::Navigation::BackButton.render(:js)
= yield
