= RubyApp::Elements::Mobile::Dialogs::AcknowledgementDialog.render(:css)
= RubyApp::Elements::Mobile::Calendars::Month.render(:css)
= RubyApp::Elements::Mobile::Navigation::BackButton.render(:css)
= yield
