- self.content_for(:html, :content) do
  /
    #{__FILE__}
  = @markdown.render(:html) do |element|
    - element.content_for(:html, :body, self.translate.content.body)
  = @link.render(:html) do |element|
    - element.content_for(:html, :body, self.translate.link.body)
