- self.rendered?(__FILE__) do
  :sass
    /* #{__FILE__}
    @import '#{File.join(File.dirname(__FILE__), %w[colors.sass])}'
    body
      > div.overlay
        > div.dialog
          background-color: $dialog_background
          color: $dialog_foreground
          border-radius: 10px
          padding: 10px 15px
          width: 80%
          a
            color: $dialog_link
            font-weight: bold
            text-decoration: inherit
= yield
