- self.rendered?(__FILE__) do
  :sass
    /* #{__FILE__}
    @import '#{File.join(File.dirname(__FILE__), %w[colors.sass])}'
    ul.list
      list-style-type: none
      margin: 0px
      padding-left: 0px
      > li
        margin-bottom: 2px
      > li.item
        > a.item
          color: inherit
          display: block
          font-weight: inherit
          width: 100%
      > li.even
        background-color: $even_background
        border-radius: 5px
        color: $even_foreground
      > li.odd
        background-color: $odd_background
        border-radius: 5px
        color: $odd_foreground
= yield
