- self.rendered?(__FILE__) do
  :sass
    /* #{__FILE__}
    @import '#{File.join(File.dirname(__FILE__), %w[colors.sass])}'
    body
      background-color: $page_background
      color: $page_foreground
      font:
        family: Verdana
        size: 12pt
      margin: 0px
      > div.overlay
        background-color: $overlay_background
      > div.wait
        background-color: $overlay_background
        > div.image
          background-color: $wait_background
          background:
            image: url('/ruby_app/resources/themes/mobile/page.gif')
            position: center center
            repeat: no-repeat
          border-radius: 10px
          color: $wait_foreground
          height: 88px
          width: 88px
    a
      color: $page_link
      font-weight: bold
      text-decoration: inherit
= yield
