/
  #{__FILE__}
%ul.list{attributes}
  - self.items.each_with_index do |item, index|
    %li.item{'data-icon' => 'false', 'data-theme' => self.selected_item == item ? self.attributes['data-selected-theme'] : nil}
      %a.item{:href => '#', 'data-index' => index}
        = yield(:item, item, index) || item
      - if self.split?
        %a.link{:href => '#', 'data-index' => index}
          = yield(:link, item, index) || item
