- self.content_for(:html, :page) do
  /
    #{__FILE__}
  %div{'data-role' => 'header'}
    %h1
      RubyApp
  %div{'data-role' => 'content'}
    %div{'data-role' => 'controlgroup'}
      = @features_link.render(:html) do |element|
        - element.content_for(:html, :link, 'Features')
      = @information_link.render(:html) do |element|
        - element.content_for(:html, :link, 'Information')
