- self.rendered?(__FILE__) do
  :plain
    // #{__FILE__}
    $(document).ready(function() {
      $('input[type="email"]').live('change', function(event) {
        event.preventDefault();
        RubyApp.queueEvent({_class:'RubyApp::Elements::Inputs::EmailInput::ChangedEvent', source_id:$(this).attr('id'), value:$(this).val()}, true);
      });
    });
= yield
