- self.rendered?(__FILE__) do
  :plain
    // #{__FILE__}
    $(document).ready(function() {
      $('input[type="checkbox"]').live('change', function(event) {
        event.preventDefault();
        RubyApp.queueEvent({_class:'RubyApp::Elements::Inputs::ToggleInput::ChangedEvent', source_id:$(this).attr('id'), value:this.checked}, true);
      });
    });
= yield
