- self.rendered?(__FILE__) do
  :sass
    /* #{__FILE__}
    body
      > div.body
        > div.header
          display: table
          width: 100%
          > div
            display: table-cell
          > div.left
            width: 75%
          > div.right
            text-align: right
            width: 25%
= RubyApp::Elements::Navigation::Breadcrumbs.render(:css)
= RubyApp::Elements::Navigation::PageLink.render(:css)
= yield
