- self.rendered?(__FILE__) do
  :sass
    /* #{__FILE__}
    body
      > div.overlay
        display: none
        height: 100%
        left: 0px
        position: absolute
        top: 0px
        width: 100%
        z-index: 1
      > div.wait
        display: none
        height: 100%
        left: 0px
        position: absolute
        top: 0px
        width: 100%
        z-index: 2
        > div.image
          background:
            image: url('/ruby_app/resources/elements/base/base_page.gif')
            position: center center
            repeat: no-repeat
          height: 48px
          position: absolute
          width: 48px
= yield
