/
  #{__FILE__}
!!! 5
%html{attributes}
  %head
    %style{:type => 'text/css'}
      = self.render(:css)
    %meta{:name => :locale, :content => RubyApp::Language.locale.code}
    /
      RubyApp::Elements::Base::BaseMail#data
    - self.data.each do |name, value|
      %meta{:name => name, :content => value}
  %body
    %div.body
      = yield :body
