= RubyApp::Elements::Mobile::Default::Features::Navigation::NavigationListPage.render(:js)
= RubyApp::Elements::Mobile::Navigation::PageButton.render(:js)
= RubyApp::Elements::Mobile::Navigation::BackButton.render(:js)
= yield
