- self.content_for(:html, :dialog) do
  /
    #{__FILE__}
  %div{'data-role' => 'header'}
    %h1
      Exception
  %div{'data-role' => 'content'}
    %div.message
      = @exception.message
    %div.buttons
      = @ok_link.render(:html) do |element|
        - element.content_for(:html, :link, RubyApp::Elements::Mobile::Dialogs::ExceptionDialog.translate.ok)
