:sass
  /* #{__FILE__}
  div.dialog
    div.message
      padding-bottom: 5px
      padding-left: 5px
      padding-right: 5px
      padding-top: 5px
    div.buttons
      text-align: right
= RubyApp::Elements::Mobile::Dialogs::ResponseDialog::CloseLink.render(:css)
= yield
