:sass
  /* #{__FILE__}
  div.ui-dialog
    div.buttons
      padding-top: 15px
      text-align: right
      a.ui-btn
        margin-bottom: 0px
        margin-left: 5px
        margin-right: 0px
        margin-top: 0px
= yield
