- self.rendered?(__FILE__) do
  :plain
    // #{__FILE__}
    $(document).ready(function() {
      $("ul.list > li.item > a.item").live('click', function(event) {
        event.preventDefault();
        RubyApp.sendEvent({_class:'RubyApp::Elements::List::ClickedEvent', source_id:$(this).parent().parent().attr('id'), index:$(this).attr('index')});
      });
    });
= yield
