- self.rendered?(__FILE__) do
  :sass
    /* #{__FILE__}
    body
      > div.overlay
        > div.dialog
          > div.footer
            text-align: right
            width: 100%
= RubyApp::Elements::Link.render(:css)
= yield
