- self.content_for(:footer) do
  /
    #{__FILE__}
  = @yes.render(:html) do |element|
    - element.content_for(:body, RubyApp::Elements::Dialogs::Base::BaseYesNoDialog.translate._yes.body)
  = @no.render(:html) do |element|
    - element.content_for(:body, RubyApp::Elements::Dialogs::Base::BaseYesNoDialog.translate._no.body)
= yield
