- self.content_for(:html, :footer) do
  /
    #{__FILE__}
  = @close.render(:html) do |element|
    - element.content_for(:html, :body, RubyApp::Elements::Dialogs::Base::BaseCloseDialog.translate.close.body)
= yield
