- self.content_for(:html, :footer) do
  /
    #{__FILE__}
  = @ok.render(:html) do |element|
    - element.content_for(:html, :body, RubyApp::Elements::Dialogs::Base::BaseOkDialog.translate.ok.body)
= yield
